.nameContainer {
  position: absolute;
  top: 450px; /*changed*/
  left: 657px;
  display: inline-block;
  text-align: right;
  width: 300px; /*changed*/
  height: 434px;

  font-family: "Bai Jamjuree";
  color: #d9d9d9;
  font-size: 30px;
  font-weight: bold;
}
.detailContainer {
  position: absolute;
  top: 450px; /*changed*/
  left: 970px;   /*changed*/
  display: inline-block;
  text-align: left;
  width: 750px;
  height: 434px;

  font-family: "Bai Jamjuree";
  color: #9ba5ff;
  font-size: 30px;
}
.label {
  margin-block-start: 0;
  margin-block-end: 10px;
}