.tab {
  border-width: 0px;
  font-size: 30px;
  font-weight: bold;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #c9c9c9;
  border-radius: 10px;
  width: 396px;
  height: 73px;
  cursor: pointer;
}
.tab:hover {
  background-color: rgb(121, 121, 121);
  transform: scale(1.1);
}

.lineIcon {
  position: relative;
  width: 100%;
  height: 2.99px;
}

