.rectangleDiv {
    position: relative;
    background-color: #8b8b8b;
    border: 2px solid #000;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
}

.rectangleDiv {
    position: relative;
    background-color: #d9d9d9;
    border: 2px solid #000;
    box-sizing: border-box;
    width: 100%;
    height: 454px;
}