/* ManagerLoanRequest.css */

.nameContainer {
    position: absolute;
    top: 0px;
    left: 50px;
    display: inline-block;
    text-align: left;
    width: 237px;
    height: 434px;
    font-family: "Bai Jamjuree";
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  
  .detailContainer {
    position: absolute;
    top: 0px;
    left: 357px;
    display: inline-block;
    text-align: left;
    width: 750px;
    height: 434px;
    font-family: "Bai Jamjuree";
    color: black;
    font-size: 16px;
  }

 