.pane {
  position: absolute;
  top: 1px;
  left: 1019px;
  border-radius: 64px 0px 0px 64px;
  background-color: rgba(20, 23, 54, 0.66);
  width: 709px;
  height: 1116px;
}
.loginHead {
  position: absolute;
  top: 500px;
  left: 1124px;
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
  z-index: 1;
  
}

.logo {
  position: absolute;
  top: 241px;
  left: 1274px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}
.coreBanking {
  margin: 0;
}
.coreBankingSystemContainer {
  position: absolute;
  top: 108px;
  left: 119px;
  font-size: 120px;
  font-family: var(--font-bakbak-one);
  color: rgb(255, 255, 255);
  display: inline-block;
  width: 777px;
  height: 333px;
}
  
.loginFrame {
  position: absolute;
  top: calc(50% - 558px);
  left: calc(50% - 864px);
  width: 1728px;
  height: 1117px;
  /* overflow: hidden;
  background-size: cover; */
}

.buttonBox {
  position: absolute;
  top: 590px;
  left: 190px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
