.pane {
  position: absolute;
  top: 1px;
  left: 1019px;
  border-radius: 64px 0px 0px 64px;
  background-color: rgba(20, 23, 54, 0.66);
  width: 709px;
  height: 1116px;
}
.usernameInput {
  position: absolute;
  top: 559px;
  left: 1124px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 500px;
  height: 80px;

  font-size: 30px;
  text-align: center;
}
.passwordInput {
  position: absolute;
  top: 697px;
  left: 1124px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 500px;
  height: 80px;

  font-size: 30px;
  text-align: center;
}
.username {
  position: absolute;
  top: 573px;
  left: 1285px;
  color: #92929d;
  font-size: 40px;
}
.password {
  position: absolute;
  top: 709px;
  left: 1288px;
  color: #92929d;
  font-size: 40px;
}
.logo {
  position: absolute;
  top: 241px;
  left: 1274px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}
.coreBanking {
  margin: 0;
}
.coreBankingSystemContainer {
  position: absolute;
  top: 108px;
  left: 119px;
  font-size: 120px;
  font-family: var(--font-bakbak-one);
  color: rgb(255, 255, 255);
  display: inline-block;
  width: 777px;
  height: 333px;
}
.loginButton {
  position: absolute;
  top: 847px;
  left: 1228px;
  border-radius: 62px;
  background-color: #000353;
  width: 291px;
  height: 80px;
  cursor: pointer;

  font-size: 35px;
  color: rgb(255, 255, 255);
}
.loginButton:hover {
  background: #000353cc;
  transform: scale(1.1);
}
.loginFrame {
  position: absolute;
  top: calc(50% - 558px);
  left: calc(50% - 864px);
  width: 1728px;
  height: 1117px;
  overflow: hidden;
  background-size: cover;
}
